.footer {
    background-color: #e8b9b9;
    color: #000000;
    padding: 20px 0;
    border-radius: 20px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1 1 250px;
    margin-bottom: 20px;
  }
  .footer-section ul li{
    display: flex;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-section ul li a{
    text-decoration: none;
    color: #000000;
  }
  .logo-footer{
    width: 400px;
    height: 120px;
    padding: 0;
    margin: 0;
  }
  /* Estilos para diferentes tamaños de pantalla */
  @media screen and (max-width: 900px) {
    .footer-section {
      flex: 1 1 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer-section {
      margin-bottom: 0;
    }
  }