.container-pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-pedidos {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    border-collapse: collapse; /* Para combinar los bordes de las celdas */
  }
  
  /* Estilos para las celdas de la tabla */
  .table-pedidos th,
  .table-pedidos td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  /* Flex para la primera columna */
  .table-pedidos th:first-child,
  .table-pedidos td:first-child {
    flex: 1; /* Hace que la primera columna sea flexible */
    width: 0; /* Anula el ancho fijo */
  }
  
  .table-pedidos td:first-child div {
    max-width: 250px; /* Ancho máximo para la celda de "Item" */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }