.container-form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}
.form-login{

    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    width: 80%;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: left;

}
.form-login input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.form-login button{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    color: white;
}