.container-form-signup{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 20px 20px;
    @media screen and (min-width: 768px){
        width: 80%;
        margin: 0 auto;
        
    }
}
.form-signup{
    align-items: center;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: left;
    padding: 10px;

}
.form-signup input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.form-signup button{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    color: white;
}
